.post{
    margin-block: 10px;
    border: 2px solid var(--border-color);
    .heading{
        display: flex;
        justify-content: space-between;
        padding: 10px 15px;
    }
    .content{
        height: 400px;

        img{
             width: 100%;
             height: 100%;
             object-fit: cover;
        }
    }
    .footer{
         
        padding: 20px;
        .like-section{
            display: flex;

            gap: 10px;
            align-items: center;
             .icon{
                font-size: 1.2rem;
             }
        }
        .caption{
            margin-top: 15px;
        }
    }
}