.post{
    margin-block: 10px;
    border: 2px solid var(--border-color);
    border-radius: 6px;
    .heading{
        display: flex;
        align-items: center;
        gap: 1rem;
         padding: 10px 15px;
         cursor: pointer;
    }
    .content{
        height: 400px;

        img{
             width: 100%;
             height: 100%;
             object-fit: cover;
             border-radius: 6px;
        }
    }
    .footer{
         
        padding: 13px;
        .like-section{
            display: flex;

            gap: 6px;
            align-items: center;
             .icon{
                font-size: 1.2rem;
             }
        }
        .caption{
            margin-block: 15px;
        }
    }
}